* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
    list-style: none;

}


.container {
    width: 50%;
    height: 350px;
    background-color: rgb(21, 50, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(0, 171, 238);
    border-radius: 15px;
    gap: 20px;
    color: white;
}


body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: cornflowerblue;

}


header{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.resultado{
    background-color: rgb(0, 171, 238);
    padding: 10px;
    border-radius: 10px;
}

.inputs{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    
}

